services:
    -
        class: Gammadia\Collections\PhpStan\UseFunctionalFunctionsPhpStanRule
        tags:
            - phpstan.rules.rule

parameters:
    ignoreErrors:
        # There's no sense in checking that we use the Functional functions inside the file that defines them.
        -
            message: '#use function Gammadia\\Collections\\Functional\\#'
            paths:
                - '../src/Functional/Functional.php'
                - '../src/Functional/FunctionalStream.php'
